{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} DevPythonBr Cursos | Redefinição de Senha {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1>Esqueceu sua senha?</h1>
            <p>Digite seu endereço de e-mail abaixo e nós enviaremos um e-mail com instruções para a alteração.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="Send me instructions!" class="btn btn-primary mt-2 mb-2">Redefinir a minha senha</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}