{% extends 'base.html' %}

{% block main %}

    <div class="bg-black">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-5 col-sm-4">
                                <img src="static/img/fullstack.png" class="img-fluid w-100" alt="card-horizontal-image">
                            </div>
                            <div class="col-7 col-sm-8">
                                <div class="card-body">
                                <h5 class="card-title">Formação: Dev Full Stack</h5>
                                <p class="card-text">Python + Django + PostgreSQL + HTML + CSS + JS + React</p>
                                <p class="card-text"><small class="text-muted">Venha ser um desenvolvedor full stack.</small></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-5 col-sm-4">
                                <img src="static/img/backend.png" class="img-fluid w-100" alt="card-horizontal-image">
                            </div>
                            <div class="col-7 col-sm-8">
                                <div class="card-body">
                                <h5 class="card-title">Formação: Dev Backend</h5>
                                <p class="card-text">Python + Django + PostgreSQL</p>
                                <p class="card-text"><small class="text-muted">Venha ser um desenvolvedor backend.</small></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-5 col-sm-4">
                                <img src="static/img/frontend.png" class="img-fluid w-100" alt="card-horizontal-image">
                            </div>
                            <div class="col-7 col-sm-8">
                                <div class="card-body">
                                <h5 class="card-title">Formação: Dev Frontend</h5>
                                <p class="card-text">HTML + CSS + JS + React</p>
                                <p class="card-text"><small class="text-muted">Venha ser um desenvolvedor frontend.</small></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                </div>
                <div class="col-xl-6 pt-5 text-center text-white">
                    <div class="vertical-align-center">
                        <h1>Faaala Dev!</h1>
                        <br>
                        <h4>Aprenda a programar de verdade e sem promessas falsas. Aqui na DevPythonBr Cursos, você terá que estudar, praticar, praticar e praticar para alcançar seus objetivos.</h4>
                        <br>
                        <p>Escolha o que estudar, não fique preso em um único modelo de assinatura. Escolha se quer fazer uma assinatura, comprar um pacote ou um curso avulso.</p>
                        <ul class="logos-programacao">
                            <li><img src="static/img/python.png" width="50" alt="Python"></li>
                            <li><img src="static/img/django.png" width="50" alt="Python"></li>
                            <li><img src="static/img/js.png" width="50" alt="Python"></li>
                            <li><img src="static/img/html.png" width="50" alt="Python"></li>
                            <li><img src="static/img/css.png" width="50" alt="Python"></li>
                            <li><img src="static/img/postgresql.png" width="50" alt="Python"></li>
                            <li><img src="static/img/git.png" width="50" alt="Python"></li>
                            <li><img src="static/img/github.png" width="50" alt="Python"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 pt-3 text-center text-black">
                    <h1>Conheça as Formações</h1>
                </div>
                <div class="text-justify">
                    <br>
                    <div class="col-xl-4">
                        <h3>Formação Dev Full Stack</h3>
                        <p>Nessa formação você vai encontrar recursos para desenvolver o backend de uma aplicação web com Python, Django e PostgreSQL e o frontend com HTML, CSS, JavaScript e React.</p>
                    </div>
                    <br>
                    <div class="col-xl-4">
                        <h3> Formação Dev Backend</h3>
                        <p>Nessa formação você vai encontrar recursos para desenvolver o backend de uma aplicação web com Python, Django e PostgreSQL.</p>
                    </div>
                    <br>
                    <div class="col-xl-4">
                        <h3>Formação Dev Frontend</h3>
                        <p>Nessa formação você vai encontrar recursos para desenvolver o frontend de uma aplicação web com HTML, CSS, JavaScript e React.</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-black">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center text-white">
                    <h1>Por que se tornar um desenvolvedor com a DevPythonBr?</h1>
                </div>
                <div class="row pt-3 text-center text-white">
                    <div class="col-xl-4">
                        <h3>Formação personalizada</h3>
                        <p>Você pode escolher entre diversas opções, desde apenas um curso até uma formação completa.</p>
                    </div>
                    <div class="col-xl-4">
                        <h3>Aulas básicas e avançadas</h3>
                        <p>Chega de ter apenas aulas básicas e sem profundidade. Aprenda o básico, mas também se aprofunde no conhecimento.</p>
                    </div>
                    <div class="col-xl-4">
                        <h3>Grupo exclusivo</h3>
                        <p>Você terá acesso a um grupo exclusivo de alunos, no qual será disponibilizado informações extras.</p>
                    </div>
                    <div class="col-xl-4">
                        <h3>Foco na prática</h3>
                        <p>O que faz você aprender não são somente as aulas, mas sim a prática com muitos exercícios e projetos.</p>
                    </div>
                    <div class="col-xl-4">
                        <h3>Projetos reais</h3>
                        <p>Chega de projetos manjados que todos fazem, faça projetos reais que vão enriquecer seu portfólio.</p>
                    </div>
                    <div class="col-xl-4">
                        <h3>Certificado</h3>
                        <p>A DevPythonBr fornece certificados de conclusão para comprovar a carga horária e conhecimento adquirido em cursos e formações.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
