{% load static %}

<div class="bg-black">
    <div class="container">
        <div class="row">
            <hr class="horizontal-line-top">
            <div class="col-xl-3">
                <div class="container text-white text-justify">
                    <img src="{% static 'img/logo_devpythonbr_site.png' %}" width="135x" alt="DevPythonBr Image">
                    <p class="pt-3">&copy; 2022 DevPythonBr. <br> Todos os direitos reservados</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="container text-white text-justify">
                    <p><strong>Formações</strong></p>
                    <p>Dev Full Stack</p>
                    <p>Dev Backend</p>
                    <p>Dev Frontend</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="container text-white text-justify">
                    <p><strong>Cursos</strong></p>
                    <p>Dev Backend</p>
                    <p>Dev Frontend</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="container text-white text-justify">
                    <p><strong>Sobre</strong></p>
                    <p>DevPythonBr</p>
                    <p><strong>Dúvidas</strong></p>
                    <p>Contato</p>
                </div>
            </div>
        </div>
    </div>
</div>